<p id="notice"><%= notice %></p>

<p>
  <strong>Курс:</strong>
  <span class="rate" id="rate">
  	<% if @rate.zero? %>
  		загружается...
 	 <% else %>
  		<%= @rate.mantissa %>.<%= @rate.fraction %>
  	<% end %>
  </span>
</p>

<p>
  (temporary)
  <strong>Set until:</strong>
  <%= @rate.overwrite %>
</p>

<%= link_to 'Временно изменить', admin_path %>
